div.tile-gallery--section {
  margin-top: 1rem;
}

div.bills-of-materials .bx--tile {
  min-width: 22rem;
}

div.bills-of-materials .bx--accordion__content {
  padding-right: unset;
}

div.bills-of-materials span.title-card a {
  color: black;
}

div.bills-of-materials .description-card {
  display: block;
}

div.bills-of-materials .bx--tile .description-card a div {
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

div.bills-of-materials .bx--tile.tile-card-title .description-card a {
  color: white;
  max-width: 100%;
  height: 100%;
}

div.bills-of-materials .bx--tile.tile-card-title .thumbnail {
  max-width: 100%;
  max-height: 100%;
}

div.bills-of-materials .bx--tile.tile-card-title .thumbnail img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

div.bills-of-materials .bx--tile.tile-card-title .description-card a .center-vertical {
  position: relative;
  top: 46%;
}


.bx--article-card__tile {
  padding: 1rem 25% 1rem 1rem;
  background-color: black;
}

.bx--article-card__title {
  font-size: 1.1rem !important;
}

.bx--article-card__img a, .bx--article-card__author {
  display:block;
}

@media only screen
  and (min-width: 1050px) 
  and (max-width: 1500px) {
  .bx--article-card__img a, .bx--article-card__author {
    display:none;
  }
}

@media only screen
  and (min-width: 670px) 
  and (max-width: 850px) {
  .bx--article-card__img a, .bx--article-card__author {
    display:none;
  }
}

@media only screen
  and (max-width: 570px) {
  .bx--article-card__img a, .bx--article-card__author {
    display:none;
  }
}

.article-img {
  margin: 0px;
  vertical-align: middle;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  color: inherit;
  box-shadow: none !important;
  border: none !important;
  box-sizing: inherit;
  display: block;

  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

}

// README

$quoteborder: #CA2CC3;

div.markdown blockquote {
  margin: 0 3em;
  padding: 0 0 0 0.5em;
  border-left: 3px solid $quoteborder;
  p+p {
    // I think it looks better to not indent paragraphs in block quotes
    text-indent: 0;
  }
}

div.markdown h1, div.markdown h2, div.markdown h3, div.markdown h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

div.markdown ul {
  list-style: inside;
}

div.markdown ol {
  list-style-type: decimal;
}

div.markdown th {
  font-weight: bold;
}
