@import './mixins.scss';
@import './overrides.scss';

.landing-page__illo {
  max-width: 100%;
}

.landing-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 1;
  @include landing-page-background;
}

.new-line {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.landing-page__heading {
  @include carbon--type-style('productive-heading-05');
}

.landing-page__subheading {
  @include carbon--type-style('productive-heading-03');
}


.landing-page__r2 {
  margin-top: rem(-40px);
}

.landing-page__tab-content {
  padding-top: 2em;
  padding-bottom: $layout-05;
}

.landing-page__subheading {
  @include carbon--type-style('productive-heading-03');
  @include carbon--font-weight('semibold');
}

.landing-page__p {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;
}

.landing-page__r3 {
  padding-top: $spacing-08;
  padding-bottom: $spacing-08;
  @include landing-page-background;
}

.landing-page__label {
  @include carbon--type-style('heading-01');
}


.bx--resource-card--dark .bx--tile {
  background-color:grey;
}

.bx--article-card--ibm .bx--tile {
  background-color:#0062ff;
}

.bx--article-card--ibm:hover .bx--tile {
  background-color:#3d3d3d;
}

.bx--article-card--ibm .bx--article-card__subtitle {
  color: var(--cds-text-04, #ffffff);
}

.bx--article-card--redhat .bx--tile {
  background-color: #e00;
}


.bx--article-card--redhat:hover .bx--tile {
  background-color:cornflowerblue;
}

.bx--article-card--redhat .bx--article-card__subtitle {
  color: var(--cds-text-04, #ffffff);
}

.bx--resource-card--dark .bx--tile:hover {
  background-color:cornflowerblue;
}


.bx--resource-card--dark .bx--tile:hover {
  background-color:cornflowerblue;
}
