@import './mixins.scss';
@import './overrides.scss';


.bx--article-card__tile {
  padding: 1rem 25% 1rem 1rem;
  background-color: black;
}

.article-img {
  width: 100%;
  height: 100%;
  margin: 0px;
  vertical-align: middle;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  color: inherit;
  box-shadow: white 0px 0px 0px 400px inset;
  box-shadow: none !important;
  border: none !important;
  box-sizing: inherit;
  display: block;
  max-width: 100%;
}
