
.bx--article-card__tile {
  padding: 1rem 25% 1rem 1rem;
  background-color: black;
}

.bx--article-card__title {
  font-size: 1.1rem !important;
}

.bx--article-card__img a, .bx--article-card__author {
  display:block;
}

@media only screen
  and (min-width: 1050px) 
  and (max-width: 1500px) {
  .bx--article-card__img a, .bx--article-card__author {
    display:none;
  }
}

@media only screen
  and (min-width: 670px) 
  and (max-width: 850px) {
  .bx--article-card__img a, .bx--article-card__author {
    display:none;
  }
}

@media only screen
  and (max-width: 570px) {
  .bx--article-card__img a, .bx--article-card__author {
    display:none;
  }
}

.article-img {
  margin: 0px;
  vertical-align: middle;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  color: inherit;
  box-shadow: none !important;
  border: none !important;
  box-sizing: inherit;
  display: block;

  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

}
