.modal-wizard .iot-simple-pagination-container{
    border: 1px solid #e0e0e0;
}

.modal-wizard .iot--sample-tile-icon,
.modal-wizard .iot--greedy-tile {
    display: none;
}

label.bx--tile {
    max-height: 8rem;
} 
