@import './mixins';
@import './overrides';
@import './Info/info';

.landing-page-list {
  margin-bottom: 2em;
  padding-left: 30px;
}

.bx--list--nested, .bx--list--unordered, .bx--list--ordered, .bx--list--ordered--native {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.16px;
  list-style: none;
}

.landing-page__subheading {
  @include carbon--type-style('productive-heading-03');
  @include carbon--font-weight('semibold');
}

.landing-page__p {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.landing-page__r3 {
  padding-top: $spacing-09;
  padding-bottom: $spacing-09;
  @include landing-page-background;
}

.landing-page__label {
  @include carbon--type-style('heading-01');
}

p {
  text-align: left;
}
