span.name {
  font-weight: bold;
}

div.attribute {
  padding-top: 4px;
  padding-bottom: 4px;
}

// Sliding pane below header
.sliding-pane {
  padding-top: 48px;
}

// Table rows clickable on hover -> pointer cursor
tr td.clickable:hover {
  cursor: pointer;
}

// Notifications
div.notif {
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 10000;
}

.control-details ul li {
  list-style: inside disc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 1rem;
}
.control-details p {
  margin-bottom: 0.5rem;
}