span.name {
  font-weight: bold;
}

div.attribute {
  padding-top: 4px;
  padding-bottom: 4px;
}

main.bx--content {
  background: unset;
}

// Sliding pane below header
.sliding-pane {
  padding-top: 48px;
}

// Table rows clickable on hover -> pointer cursor
tr td.clickable:hover {
  cursor: pointer;
}

// Notifications
div.notif {
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 10000;
}

div.control-details div.bx--accordion__title {
  font-size: 1rem;
}

.bx--accordion__content > p {
  font-size: 1rem;
}

.control-details ul:not(.bx--list--unordered, .bx--accordion) li {
  list-style: inside disc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 1rem;
}
.control-details p {
  margin-bottom: 0.5rem;
}

.control-details div.bx--accordion__title div.bx--tooltip__label {
  margin-left: 1rem;
}

div.bx--tooltip__content ul.bx--list--unordered li.bx--list__item {
  color: white;
}

.slide-pane__title-wrapper {
  margin-left: 0px;
}

a.bx--tile.bx--tile--clickable {
  width: max-content;
}

.bx--progress-step svg {
  z-index: unset;
}

// SVG

svg#svg-canvas {
  z-index: -1;
}

svg#svg-canvas circle, svg#svg-canvas path {
  z-index: 1;
}

span.text, svg.text-icon {
  vertical-align: middle;
  display: inline-block;
}

.bx--side-nav__link-text {
  display: flex;
  width: 100%;
}