div.control-details div.bx--accordion__title {
  font-size: 1rem;
}

.bx--accordion__content > p {
  font-size: 1rem;
}

.control-details ul:not(.bx--list--unordered, .bx--accordion) li {
  list-style: inside disc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 1rem;
}
.control-details p {
  margin-bottom: 0.5rem;
}

.control-details div.bx--accordion__title div.bx--tooltip__label {
  margin-left: 1rem;
}

.control-details h2, .control-details h3 {
    margin: 1.5rem 0;
}

.control-details h4, .control-details h5 {
    margin: 1rem 0;
}