.create-solution h2 {
    display: flex;
    justify-content: space-between;
}

.shifted {
    margin-left: 1.5rem;
}

.modal-wizard .iot--page-wizard--step--title {
    margin-bottom: 1.2rem;
}

.modal-wizard .iot--tile-group {
    min-height: 384px;
}

.modal-wizard .arch {
    width: 100%;
    display: flex;
}

.modal-wizard .summary ul  {
    list-style: inside;
}

.modal-wizard .summary ul li  {
    font-weight: 600;
}

.modal-wizard p {
    padding-right: 1rem;
}

.modal-wizard p img {
    padding: .5rem;
}

.modal-wizard .iot-simple-pagination-container{
    border: 1px solid #e0e0e0;
}

.modal-wizard .iot--tile-catalog--header {
    display: none;
}

.modal-wizard .bx--tile.iot--greedy-tile {
    display: none;
}

.modal-wizard .iot--sample-tile-icon .software-logo,
.modal-wizard .iot--sample-tile-icon svg {
    width: 75px;
    height: 75px;
}

.modal-wizard .plan-content.coming-soon {
    background-color: rgb(230, 230, 230);
    cursor:default;
}

.modal-wizard .flex-inline {
    display: flex;
}

label.bx--tile {
    max-height: 8rem;
}

.plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 25px 0px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.plans .plan input[type="radio"] {
    position: absolute;
    opacity: 0;
    margin-bottom: 1rem;
}

.plans .plan {
    cursor: pointer;
    width: 48%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-width: calc(100% - 3rem);
}

.plans .plan .plan-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    min-height: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #e1e2e7;
    border-radius: 10px;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
    position: relative;
}


.plans .plan-content .coming-soon div {
    background: beige;
}

.plans .plan .plan-content img {
    object-fit: contain;
    margin-right: 30px;
    width: 72px;
}

.arch img, .summary img {
    margin-right: 30px;
    height: 72px;
    display:flex;
}

div .arch p, div .summary p  {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #252f42;
    align-items: top;
}

.modal-wizard .summary p  {
    margin-bottom: 1.5rem;
}

.plans .plan .plan-details span {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #252f42;
}

.selection-set .title {
    font-size: 16px;
    font-weight: 500;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    color: #252f42;
    margin: 1rem 0;
}

.selection-set ol {
    font-size: 1rem;
    list-style-type: decimal;
    list-style-position: inside;
}

.plans .plan .plan-details p {
    color: #646a79;
    font-size: 14px;
    line-height: 18px;
}

.plans .plan .plan-content:hover {
    -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
    box-shadow: 0px 3px 5px 0px #e8e8e8;
}

.plans .plan input[type="radio"].checked + .plan-content:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: #216fe0;
    right: 20px;
    top: 20px;
    border-radius: 100%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 2px #0066ff;
    box-shadow: 0px 0px 0px 2px #0066ff;
}

.plans .plan input[type="radio"].checked + .plan-content {
    border: 2px solid #216ee0;
    background: #eaf1fe;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

@media screen and (max-width: 991px) {
    .plans {
        margin: 0 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 40px;
    }

    .plans .plan {
        width: 100%;
    }

    .plan.complete-plan {
        margin-top: 20px;
    }

    .plans .plan .plan-content .plan-details {
        width: 70%;
        display: inline-block;
    }

    .plans .plan input[type="radio"].checked + .plan-content:after {
        top: 45%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

@media screen and (max-width: 767px) {
    .plans .plan .plan-content .plan-details {
        width: 60%;
        display: inline-block;
    }
}

@media screen and (max-width: 540px) {
    .plans .plan .plan-content img {
        margin-bottom: 20px;
        height: 56px;
        -webkit-transition: height 0.4s;
        -o-transition: height 0.4s;
        transition: height 0.4s;
    }

    .plans .plan input[type="radio"].checked + .plan-content:after {
        top: 20px;
        right: 10px;
    }

    .plans .plan .plan-content .plan-details {
        width: 100%;
    }

    .plans .plan .plan-content {
        padding: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
}

/* inspiration */
.inspiration {
    font-size: 12px;
    margin-top: 50px;
    position: absolute;
    bottom: 10px;
    font-weight: 300;
}

.inspiration a {
    color: #666;
}
@media screen and (max-width: 767px) {
    /* inspiration */
    .inspiration {
        display: none;
    }
}

.modal-wizard .bx--grid.wizard-grid {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 99rem){
    .modal-wizard .bx--grid.wizard-grid .bx--row {
        margin-right: 0;
        margin-left: 0;
    }
}

.modal-wizard .overview-image img {
    width: 60%;
    max-width:100%;
    max-height:100%;
}

.overview-text {
}