// User Profile Header Panel

.bx--header-panel--expanded.user-profile {
    width: fit-content;
}

.bx--header-panel--expanded.user-profile .bx--switcher__item {
    padding: .5rem 1rem;
    height: fit-content;
}

.bx--header-panel--expanded.user-profile .bx--switcher__item.title {
    display: flex;
    align-items: center;
}
.bx--header-panel--expanded.user-profile .bx--switcher__item.title strong {
    font-size: 1.3rem;
}
.bx--header-panel--expanded.user-profile .bx--switcher__item.title div.bx--tag {
    margin-left: auto;
}

.bx--header-panel--expanded.user-profile  .bx--toggle-input__label {
    width: 100%;
    display: flex;
    color: #c2c2c2;
}

.bx--header-panel--expanded.user-profile  .bx--switcher__item.logout a {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.bx--header-panel--expanded.user-profile  .bx--switcher__item.logout svg {
    margin-left: auto;
}

// Side nav

.bx--side-nav__link-text {
    display: flex;
    align-items: center;
}
.bx--side-nav__link-text svg {
    margin-left: .5rem;
}

// Notifications

div.notif {
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 10000;
}

// Grid

div.bx--grid {
    margin-left: unset;
}

// Breadcrumbs

.bx--breadcrumb {
  padding-top: 1rem;
}

// Sliding pane

div.slide-pane {
  margin-top: 3rem;
}

.bx--content {
    padding-bottom: 2rem;
}