.bx--content {
  margin-left: 16rem;
  padding: 0;
}

@media (min-width: 99rem) {
.bx--grid {
  padding-left: 2.5rem;
  padding-right: 0;
} }

bx--grid {
  margin-right: auto;
  margin-left: auto;
  max-width: 99rem;
  padding-right: 0em;
  padding-left: 0em;
}

@media (max-width: 65.98rem) {
  .bx--content {
      margin-left: 0;
  }
}

@import './components/index';

.App {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  text-align: left;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

h2 {
  margin: 1rem 0;
}

// Marketing Banners

.genesis--MarketingBanner-marketingBannerOverview {
  font-size: 1rem;
  height: 4rem;
  padding-left: 1.5rem;
}
.genesis--MarketingBanner-marketingBanner, .genesis--MarketingBanner-marketingBannerList, .genesis--MarketingBanner-marketingBannerOrderSummary, .genesis--MarketingBanner-marketingBannerOverview {
  align-items: center;
  background: linear-gradient(90deg,#8a3ffc,#0062ff 50%,#0530ad);
  color: var(--cds-ui-02,#fff);
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding-bottom: 0.75rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
}
.genesis--MarketingBanner-marketingBannerOverview a {
  color: #89b2ff;
}
.genesis--MarketingBanner-marketingBannerOverview svg {
  cursor: pointer;
}
