.bx--content {
  margin-left: 16rem;
  padding: 0;
}

@media (max-width: 65.98rem) {
  .bx--content {
      margin-left: 0;
  }
}

@import './components/index';

.App {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  text-align: left;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

div.slide-pane {
  margin-top: 3rem;
}
