$feature-flags: (
  components-x: true,
  ui-shell: true
);

$feature-flags: (
    grid-columns-16: true,
);

// If you're including all the styles for Carbon
@import '~carbon-components/scss/globals/scss/styles.scss';

@import '~@carbon/colors/scss/colors';

@import '~@carbon/grid/scss/grid';
@import "./ui-patterns/builder/_ArchitectureView.scss";

@import "./ui-patterns/builder/ArticleCard/article-card.scss";
@import "./ui-patterns/builder/ResourceCard/resource-card.scss";
@import "./ui-patterns/builder/ResourceCard/resource-card-group.scss";

.App {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

.resource-img {
  height:35em;
  padding-bottom: 5px;
}



