$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import '~carbon-components/scss/globals/scss/styles.scss';

// If you're including all the styles for Carbon
@import '~carbon-components/scss/globals/scss/styles.scss';

@import '~@carbon/colors/scss/colors';

@import '~@carbon/grid/scss/grid';
@import "./ui-patterns/builder/_ArchitectureView.scss";

@import "./ui-patterns/builder/ArticleCard/article-card.scss";
@import "./ui-patterns/builder/ResourceCard/resource-card.scss";
@import "./ui-patterns/builder/ResourceCard/resource-card-group.scss";

@import "./ui-patterns/builder/CodePatternCard/codepattern-card.scss";


// Remove overrides once Carbon bugs are fixed upstream.

/// The React <Content /> component uses the `main` element which IE11 doesn't recognize
/// @link https://github.com/carbon-design-system/carbon/issues/2789
main {
  display: block;
}

/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .bx--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 1400px) {

  .bx--resource-card__subtitle {
    display:none;
  }

  .bx--resource-card__icon--img {
    top: 4em;
  }

  .bx--resource-card__title {
    display:block;
    font-size: 1em;

  }

}

@media (max-width: 1100px) {

  .bx--resource-card__subtitle {
    display:none;
  }

  .bx--resource-card__icon--img {
    top: 0.5em;
  }

  .bx--resource-card__title {
    display:none;
  }

}


@media screen and (min-width: 0px) and (max-width: 660px) {

  .bx--resource-card__subtitle {
    display:block;
  }

  .bx--resource-card__title {
    display:block;
    font-size: 1.25rem;
  }

  .bx--resource-card__icon--img {
    top: 6.5em;
  }

}

.toolkit-logo {
    left: auto;
    width: 7em;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    height: 35px;
    /* align-content: flex-end; */
    /* display: inline-block; */
    position: absolute;
    right: 0;
    /* vertical-align: middle; */
    z-index: -999;
    margin-right: 30px;
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.bx--content {
  padding: 0;
}


//Card groups
// Set spacing to the right of the group
.resource-card-group .#{$prefix}--col-lg-4:nth-child(2n) {
  @include carbon--breakpoint('lg') {
    margin-right: 33%;
  }
}

// set border between cards
.resource-card-group .#{$prefix}--resource-card {
  border-top: 1px solid $carbon--gray-20;
}

.resource-card-group .#{$prefix}--resource-card--dark {
  border-top-color: 1px solid $carbon--black-100;
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(2)
  .#{$prefix}--resource-card {
  @include carbon--breakpoint('md') {
    border-top: 0px solid transparent;
  }
}

.resource-card-group
  .#{$prefix}--col-lg-4:first-child
  .#{$prefix}--resource-card {
  border-top: 0px solid transparent;
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(odd)
  .#{$prefix}--resource-card {
  @include carbon--breakpoint('md') {
    border-left: 1px solid transparent;
  }
}

.resource-img {
  height:75px;
  padding-bottom: 20px;
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(even)
  .#{$prefix}--resource-card {
  @include carbon--breakpoint('md') {
    border-left: 1px solid $carbon--gray-20;
  }
}

.resource-card-group
  .#{$prefix}--col-lg-4:nth-child(even)
  .#{$prefix}--resource-card--dark {
  border-left-color: $carbon--black-100;
}

// Set spacing to the right of the group
.resource-card-group .#{$prefix}--col-lg-4:nth-child(2) {
  @include carbon--breakpoint('lg') {
    margin-right: 33%;
  }
}

.clusterInfo {
  width: 65%;
}

.clusterInfo li {
    list-style-type: none;
}

.clusterInfo .bx--accordion__title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0;
  margin-left: 0px;
}

.clusterInfo .bx--accordion__item {
  border-top: 0px;
}

.clusterInfo .bx--accordion__item:last-child {
  border-bottom: 0px;
}

.clusterInfo .consoleLink {
    text-decoration: none;
    color: #0043ce;
}



