// Table rows clickable on hover -> pointer cursor
tr td.clickable:hover {
    cursor: pointer;
}

table.bx--data-table tbody tr td {
    max-width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bx--content-switcher .bx--content-switcher-btn {
    z-index: 0;
}

.slide-pane {
    z-index: 9999;
}


.bx--tile {
    background-color: #fff!important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border: 1px solid #dfe3e6;
    border-top-color: rgb(223, 227, 230);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 227, 230);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 227, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 227, 230);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}